body{
  background-image:url("../images/chars4.png");
  background-size:cover;


}
#startButton, #restartButton {
	background-color: #000000;
	border-color: #000000;
	height: 70px;
    width: 250px;

}

#startButton:hover, #restartButton:hover {
	background-color: #dadada;
	border-color: #dadada;

}

/*JUMBOTRON*/
#jumbo {
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	color: #000000;
    font-size: 50px;
}
/*BODY*/
#triviaBody {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#answer1Button, #answer2Button, #answer3Button, #answer4Button {
  background-color: #000000;
  border-color: #000000;
  height: 50px;
  width: 700px;
  margin-top: 30px;
}
#answer1Button:hover, #answer2Button:hover, #answer3Button:hover, #answer4Button:hover {
  background-color: #dadada;
  border-color: #dadada;
}
/* -------------------------- AUDIO CODE --------------------- */
#backgroundaudio { 
  display: block; 
  position: fixed; 
  bottom: -43px; 
  left: 5px; 
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out; 
  } 
  #backgroundaudio:hover { 
  bottom: 0; 
  -webkit-transition: all 1s ease-in-out; 
  -moz-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out; 
  } 
  #backgroundaudio audio { 
  background: #ffffff; 
  padding: 5px; 
  display: table-cell; 
  vertical-align: middle; 
  height: 43px; 
  z-index: 9998; 
  } 
  #backgroundaudio i { 
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  text-transform: lowercase;
  display: block;  
  padding: 5px; 
  width: 50px; 
  float: none; 
  margin-bottom: -1px; 
  z-index: 9999; 
  } 
	#song {
	visibility: none;
	}
  /*-------------------------END AUDIO CORE-------------------------------*/